<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="bookcards(books)" class="row d-flex justify-content-center" id="booksList">
    <article th:each="b : ${books}"
             th:object="${b}"
             class="card rounded p-2 m-3 col-sm-6 col-md-3">
        <a th:href="@{/books/{id}(id=*{id})}"
           th:title="*{title}">
            <img class="card-image rounded" th:src="*{getPictureUrl()}" alt="Thumbnail [100%x225]"
                 data-holder-rendered="true">
        </a>
        <div class="row btn-group d-flex justify-content-end my-2 mx-3 border-bottom border-info">
            <strong th:if="*{getCopies() > 0}"
                    class="text-success col-md-8">
                In stock
            </strong>
            <strong th:if="*{getCopies() == 0}"
                    class="text-secondary col-md-8">
                Out of stock
            </strong>
            <a th:href="@{/wishlist/add/{id}(id=*{id})}"
               type="button" class="btn btn-sm col-md-2"
               title="Add to Favorites">
                <i class="far fa-heart fa-lg"></i>
            </a>
            <a th:href="@{/cart/add/{id}(id=*{id})}"
               id="addToCardBtn"
               type="button" class="btn btn-sm col-md-2"
               th:classappend="*{getCopies()} == 0 ? 'disabled' : ''"
               title="Add to Cart">
                <i class="fas fa-shopping-cart fa-lg"></i>
            </a>
        </div>
        <div class="card-body pt-2">
            <div class="text-center">
                <h5 class="card-title" th:text="*{title}"></h5>
                <p class="card-text text-secondary">Author:
                    <a th:text="*{author}"
                       th:href="@{/authors/{id}(id=*{authorId})}">
                    </a>
                </p>
                <p class="card-text" th:text="|Price: *{price} BGN|"></p>
            </div>
        </div>
    </article>
</div>

</body>
</html>