<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>

<body>

<!-- Navigation-->
<header th:replace="fragments/commons :: navbar"></header>

<main class="align-content-center">

    <!-- Main Content-->
    <section class="container-fluid">

        <!-- Page Content -->
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-sm-12 my-4 text-center bg-light rounded">
                <div class="col-xl-12 col-lg-12 col-md-12 mx-auto my-4">
                    <img th:src="@{/images/bad-request-error.jpg}"
                         class="rounded error-img">
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 mx-auto text-center my-4">
                    <h1>Oops!</h1>
                    <p th:text="${message}"></p>
                    <a th:href="@{/books/all}"
                       type="button" class="btn btn-info btn-md btn-block w-50 mx-auto my-3">
                        Go to Homepage
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Footer-->
<footer th:replace="fragments/commons :: footer"></footer>

</body>
</html>