<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>

<body class="form-page">

<!-- Navigation-->
<header th:replace="fragments/commons :: navbar"></header>

<main class="align-content-center">

    <!-- Main Content-->
    <section class="container-fluid">

        <!-- Sidebar-->
        <nav th:replace="fragments/commons :: sidebar"></nav>

        <!-- Page Content -->
        <div id="content" class="container">

            <form th:method="POST"
                  th:action="@{/users/register}"
                  th:object="${userRegisterBindingModel}"
                  class="main-form mx-auto w-50 bg-blur">
                <h2 class="text-white">Register User</h2>
                <hr class="hr-3 w-100 bg-white">
                <br>

                <div class="form-group">
                    <label for="firstName" class="col-form-label text-white font-weight-bold">First Name</label>
                    <input th:field="*{firstName}"
                           th:errorclass="is-invalid"
                           id="firstName"
                           name="firstName"
                           type="text"
                           required
                           minlength="2" maxlength="20"
                           class="form-control"
                           placeholder="First name"
                           aria-describedby="firstNameError"/>
                    <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                           id="firstNameError"
                           class="invalid-feedback errors alert alert-danger">
                        First name is required.
                    </small>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-form-label text-white font-weight-bold">Last Name</label>
                    <input th:field="*{lastName}"
                           th:errorclass="is-invalid"
                           id="lastName"
                           name="lastName"
                           type="text"
                           required
                           minlength="2" maxlength="20"
                           class="form-control"
                           placeholder="First name"
                           aria-describedby="lastNameError"/>
                    <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                           id="lastNameError"
                           class="invalid-feedback errors alert alert-danger">
                        Last name is required.
                    </small>
                </div>

                <div class="form-group">
                    <label for="username" class="col-form-label text-white font-weight-bold">Username</label>
                    <input th:field="*{username}"
                           th:errorclass="is-invalid"
                           id="username"
                           name="username"
                           type="text"
                           required
                           minlength="2" maxlength="20"
                           class="form-control"
                           placeholder="Username"
                           aria-describedby="usernameError"/>
                    <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                           id="usernameError"
                           class="invalid-feedback errors alert alert-danger">
                        Username is required.
                    </small>
                </div>
                <div class="form-group">
                    <label for="email" class="col-form-label text-white font-weight-bold">Email</label>
                    <input th:field="*{email}"
                           th:errorclass="is-invalid"
                           id="email"
                           name="email"
                           type="email"
                           required
                           class="form-control"
                           placeholder="Email"
                           aria-describedby="emailError"/>
                    <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                           id="emailError"
                           class="invalid-feedback errors alert alert-danger">
                        Email is required.
                    </small>
                </div>
                <div class="form-group">
                    <label for="address" class="col-form-label text-white font-weight-bold">Address</label>
                    <textarea th:field="*{address}"
                              th:errorclass="is-invalid"
                              id="address"
                              name="address"
                              type="text"
                              required
                              class="form-control"
                              placeholder="Address"
                              aria-describedby="addressError"></textarea>
                    <small th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                           id="addressError"
                           class="invalid-feedback errors alert alert-danger">
                        Address is required.
                    </small>
                </div>
                <div class="form-group">
                    <label for="password" class="col-form-label text-white font-weight-bold">Password</label>
                    <input th:errorclass="is-invalid"
                           id="password"
                           name="password"
                           type="password"
                           required
                           minlength="2" maxlength="20"
                           class="form-control"
                           placeholder="Password"
                           aria-describedby="passwordError"/>
                    <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                           id="passwordError"
                           class="invalid-feedback errors alert alert-danger">
                        Password is required.
                    </small>
                </div>

                <div class="form-group">
                    <label for="confirmPassword" class="col-form-label text-white font-weight-bold">Confirm
                        password</label>
                    <input th:errorclass="is-invalid"
                           id="confirmPassword"
                           name="confirmPassword"
                           type="password"
                           required
                           minlength="2" maxlength="20"
                           class="form-control"
                           placeholder="Confirm password"
                           aria-describedby="confirmPasswordError"/>
                    <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                           id="confirmPasswordError"
                           class="invalid-feedback errors alert alert-danger">
                        Password is required.
                    </small>
                </div>

                <div class="d-flex justify-content-center mt-5">
                    <input type="submit" class="btn btn-info btn-md btn-block w-50" value="Register"/>
                </div>
            </form>
        </div>
    </section>
</main>

<!-- Footer-->
<footer th:replace="fragments/commons :: footer"></footer>

</body>
</html>
